$name-color: #ebe489;

@media screen and (min-height: 451px) and (min-width: 600px){
    header{
        .logo-container{
            img{
                margin: 3vh;
            }
        }
        .burger-logo-container{
            margin-left: -15px;
        }
    }
    .title{
        font-size: clamp(10px, 2vw, 30px);
        a{
            font-size: clamp(10px, 2vw, 28px);
            margin: 0;
        }
        margin: 10px 0 10px 0;
        text-align: center;
    }

    .project-container{
        flex-direction: row;
        flex-wrap: wrap;
        transform: translate(-50%,-50%);
        p{
            font-size: clamp(8px, 1.5vw, 15px);
            margin: 0;
        }
    }
    #planpacific-container, #match-container, #website-container{
        flex-direction: row;
    }

    .links{
        a{
            font-size: clamp(7px, 1.3vw, 13px);
        }
        button{
            padding: clamp(2px, 0.5vw, 5px);
            margin: 0;
            margin-right: 20px;
        }
        margin: 25px 0 25px 0;
    }

    .tech-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 2vh 0;
       
    }

    .tech{
        font-size: clamp(5px, 1.1vw, 11px);
        padding: clamp(2px, 0.5vw, 5px);
        margin: 5px;
    }


    .description, .pp-carousel{
        width: 40vw;
        max-width: 800px;
        margin-top: 0;
    }

    .pp-carousel{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slideshow-container, .video-container{
        width: 40vw;
        max-width: 800px;
        height: 40vw;
        max-height: 500px;
        img,video{
            width: 40vw;
            max-width: 800px;
        }
    }
    svg{
        max-height: 500px;
    }

    .icons{
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateX(-130px);
        transform: translate(-130px, -50%);
        .button-container{
            width: 175px;
            p{
                width: 125px;
            }
            .icon-svg{
                width: 50px;
            }
        }

        @keyframes out{
            from{transform:translateX(130px);}
            to{transform:translateX(0px);}
        }
        @keyframes in{
            from {transform: translateX(0px);}
            to {transform: translateX(130px);}
        }
    }

    .cls-2{
        stroke-width: 28px;
    }
    .cls-3{
        stroke-width: 12px;
    }
    .cls-4{
        stroke-width: 18px;
    }

}