* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 100% Helvetica, san-serif;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right bottom, from(#131352), to(black));
  background: linear-gradient(to bottom right, #131352, black);
  display: block;
  height: 100vh;
}

header {
  width: 100%;
  background-color: transparent;
  position: absolute;
}

header .logo-container {
  width: 100vw;
  z-index: 100;
}

header .logo-container img {
  width: 20%;
  max-width: 160px;
  padding: 0.1em;
}

header .burger div {
  display: block;
  width: 5vw;
  max-width: 50px;
  min-width: 25px;
  height: 4px;
  background-color: #d8d8d8;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .burger {
  padding: 1em;
  padding-right: .5em;
  position: fixed;
  z-index: 110;
}

header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .menu-container .burger-logo-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-container .nav {
  position: absolute;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 75vw;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  opacity: 0.8;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header .menu-container ul li {
  opacity: 0;
  list-style: none;
  padding: 10vh 0 10vh 0;
}

header .menu-container ul li a:hover {
  font-weight: bold;
  font-size: #fffebb;
}

header .menu-container ul a {
  color: #d8d8d8;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1em;
}

header .menu-container .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

header .toggle .line2 {
  opacity: 0;
}

header .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.project-container {
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-box {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(16, 16, 34, 0.8)), to(black));
  background: linear-gradient(to bottom right, rgba(16, 16, 34, 0.8), black);
}

.modal-box p {
  color: #d8d8d8;
  font-size: 1.9vh;
  margin: 0 3vw 1vw 3vw;
}

@-webkit-keyframes openModal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes openModal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes closeModal {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes closeModal {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#close {
  -webkit-transform: scale(0);
          transform: scale(0);
  color: aquamarine;
  z-index: 1001;
  float: right;
  font-size: 6vh;
  font-weight: bold;
  position: absolute;
  top: 1%;
  right: 2%;
}

@-webkit-keyframes xAppear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes xAppear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes xDisappear {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes xDisappear {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#close:hover,
#close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#planpacific-container, #match-container, #website-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-icon {
  min-width: 125px;
  width: 20vw;
  max-width: 200px;
  margin: 5vh;
  cursor: pointer;
  opacity: 0;
}

@-webkit-keyframes logoFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes logoFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes logoJump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  13% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  27% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes logoJump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  13% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  27% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.title {
  color: #82ffff;
  font-size: 5vw;
  margin: 2vh 0 2vh 0;
}

.title a {
  text-decoration: none;
  color: #82ffff;
  font-size: 5vw;
}

.title:hover a {
  color: white;
}

.description {
  height: 45vh;
  width: 80vw;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.links a {
  text-decoration: none;
  color: aquamarine;
  font-size: 4vw;
}

.links a:hover {
  color: white;
}

.links button {
  background-color: black;
  border: 1px aquamarine solid;
  padding: 1vw;
  margin-left: 3vw;
}

.links button:hover {
  border-color: white;
}

.tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1vh;
}

.tech {
  border: 1px #8f8f8f solid;
  background-color: #adadad;
  font-size: 3vw;
  margin: 0 0 1vw 2vw;
  padding: 1vw;
  color: black;
}

.pp-carousel {
  background-color: black;
  width: 80vw;
  margin-top: 3vh;
  height: 45vh;
}

.slideshow-container, .video-container {
  width: 79vw;
  position: relative;
  height: 45vh;
}

.slideshow-container img, .slideshow-container video, .video-container img, .video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  width: 100%;
  max-height: 44vh;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.cls-10 {
  fill: #fff;
}

.cls-10, .cls-20 {
  fill-rule: evenodd;
}

.cls-20 {
  fill: none;
  stroke: #fff;
  stroke-width: 20px;
}

.icons {
  position: absolute;
  bottom: 10%;
  left: 0;
  -webkit-transform: translateX(-105px);
          transform: translateX(-105px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons button {
  border: 1px solid aquamarine;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-animation-name: out;
          animation-name: out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.icons button:hover {
  cursor: pointer;
  -webkit-animation-name: in;
          animation-name: in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes out {
  from {
    -webkit-transform: translateX(105px);
            transform: translateX(105px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes out {
  from {
    -webkit-transform: translateX(105px);
            transform: translateX(105px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes in {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(105px);
            transform: translateX(105px);
  }
}

@keyframes in {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(105px);
            transform: translateX(105px);
  }
}

.icons .button-container {
  position: relative;
  width: 140px;
}

.icons .button-container p {
  color: #d8d8d8;
  margin-left: 5px;
  width: 100px;
  left: 0;
}

.icons .button-container svg {
  right: 0;
}

.icons .icon-svg {
  stroke: white;
  fill-opacity: 0;
  stroke-linejoin: round;
  fill-rule: evenodd;
  width: 40px;
}

.icons button:hover > .icon-svg {
  stroke-dasharray: 10;
  stroke-dashoffset: 100;
  -webkit-animation: move 4s linear infinite;
          animation: move 4s linear infinite;
  stroke: #6cd0d0;
}

@-webkit-keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

.cls-2 {
  stroke-width: 28px;
}

.cls-3 {
  stroke-width: 12px;
}

.cls-4 {
  stroke-width: 18px;
}

@media screen and (max-height: 450px) {
  header .logo-container img {
    width: 20%;
    max-width: 100px;
    padding: 0.1em;
    margin: 5px;
  }
  .title {
    font-size: 5.25vh;
    margin: 3vh 0 3vh 0;
  }
  .title a {
    font-size: 5.25vh;
  }
  .project-container {
    height: 100vh;
    width: 100vw;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .project-container p {
    font-size: 4vh;
  }
  .links {
    margin: 1vw 2vw 1vw 2vw;
  }
  .links a {
    font-size: 4vh;
  }
  .tech-container {
    margin: 0 0 1vh 0;
  }
  .tech {
    font-size: 2.5vh;
  }
  #planpacific-container, #match-container, #website-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .modal-box p {
    font-size: 1.8vw;
  }
  .description, .pp-carousel {
    width: 47.5vw;
    height: 80vh;
    margin-top: 0;
  }
  .pp-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slideshow-container, .video-container {
    width: 47.5vw;
    height: 80vh;
  }
  .slideshow-container img, .slideshow-container video, .video-container img, .video-container video {
    max-height: 75vh;
    max-width: 47vw;
  }
}
/*# sourceMappingURL=mobile.css.map */