* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 100% Helvetica, san-serif;
  overflow-x: hidden;
  background-color: #161616;
  height: 100%;
}

header {
  width: 100%;
  background-color: transparent;
  position: absolute;
}

header .logo-container {
  width: 100vw;
}

header .logo-container img {
  width: 20%;
  max-width: 160px;
  padding: 0.1em;
}

header .burger div {
  display: block;
  width: 5vw;
  max-width: 50px;
  min-width: 25px;
  height: 4px;
  background-color: #d8d8d8;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .burger {
  padding: 1em;
  padding-right: .5em;
  position: fixed;
  z-index: 110;
}

header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .menu-container .burger-logo-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-container .nav {
  position: absolute;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 75vw;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  opacity: 0.8;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header .menu-container ul li {
  opacity: 0;
  list-style: none;
  padding: 10vh 0 10vh 0;
}

header .menu-container ul li a:hover {
  font-weight: bold;
  font-size: #fffebb;
}

header .menu-container ul a {
  color: #d8d8d8;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1em;
}

header .menu-container .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

header .toggle .line2 {
  opacity: 0;
}

header .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.project-container {
  border: solid white 1px;
  height: 75vh;
  width: 90vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container p {
  color: #d8d8d8;
  font-size: 4vw;
  margin: 0 3vw 0 3vw;
}

.title {
  color: white;
  font-size: 5vw;
  margin: 5vw 0 5vw 0;
}

.title a {
  text-decoration: none;
  color: white;
  font-size: 5vw;
}

.description {
  height: auto;
  width: 80vw;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.links a {
  text-decoration: none;
  color: red;
  font-size: 4vw;
}

.links button {
  background-color: black;
  border: 1px red solid;
  padding: 1vw;
  margin-left: 3vw;
}

.tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5vw;
}

.tech {
  border: 1px #8f8f8f solid;
  background-color: #adadad;
  font-size: 3vw;
  margin: 0 0 1vw 2vw;
  padding: 1vw;
  color: black;
}

.pp-carousel {
  border: 1px solid white;
  width: 80vw;
  margin-top: 5vw;
}

.slideshow-container, .video-container {
  width: 79vw;
  position: relative;
  height: 80vw;
}

.slideshow-container img, .slideshow-container video, .video-container img, .video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  width: 100%;
  max-height: 80vw;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.cls-10 {
  fill: #fff;
}

.cls-10, .cls-20 {
  fill-rule: evenodd;
}

.cls-20 {
  fill: none;
  stroke: #fff;
  stroke-width: 20px;
}

.icons {
  display: none;
}

@media screen and (max-height: 450px) {
  header .logo-container img {
    width: 20%;
    max-width: 100px;
    padding: 0.1em;
    margin: 5px;
  }
  .title {
    font-size: 5.25vh;
    margin: 5vh 0 5vh 0;
  }
  .title a {
    font-size: 5.25vh;
  }
  .project-container {
    height: 65vh;
    width: 80vw;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .project-container p {
    font-size: 4vh;
  }
  .links a {
    font-size: 4vh;
  }
  .tech-container {
    margin: 0 0 5vh 0;
  }
  .tech {
    font-size: 3vh;
  }
  .planpacific-container, .match-container, .website-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .match-container, .website-container {
    margin-top: 2vh;
  }
  .description, .pp-carousel {
    width: 40vw;
    margin-top: 0;
  }
  .pp-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slideshow-container, .video-container {
    width: 39vw;
    height: 40vw;
  }
  .slideshow-container img, .slideshow-container video, .video-container img, .video-container video {
    max-height: 65vh;
  }
}
/*# sourceMappingURL=mobile.css.map */