@media screen and (min-height: 451px) and (min-width: 600px){
    header{
        .logo-container{
            img{
                margin: 3vh;
            }
        }
        .burger-logo-container{
            margin-left: -15px;
        }
    }
    .body-container{
        .name-container{
            margin-top: 15vh;
            height: 60vh;
            .name{
                #name-sentence-1, #name-sentence-2{
                    font-size: 10vh;
                }
                #name-sentence-2{
                    margin-left: 4vh;
                }
                #name-svg{
                    width: 60vh;
                    margin-left: 4vh;
                }
                .rotate-text{
                    height: 4.5vh;
                }
                #name-sentence-3{
                    font-size: 4vh;
                }
                button{
                    font-size: 4vh;
                    width: 35vh;
                    margin-top: 0;
                }
                .rotate-text{
                    height: 4.5vh;
                }
            }
        }
    }

    @keyframes animate{
        0%{
            transform: translateY(.5vh);
        }
        5%{
            transform: translateY(-.5vh);
        }
        10%, 25%{
            transform: translateY(0px);
        }
        30%{
            transform: translateY(-5.1vh);
        }
        35%,60%{
            transform: translateY(-4.7vh);
        }
        65%{
            transform: translateY(-10.1vh)
        }
        70%,95%{
            transform: translateY(-9.4vh);
        }
        100%{
            transform: translateY(-13.8vh);
        }
    }
    .icons{
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateX(-130px);
        transform: translate(-130px, -50%);
        .button-container{
            width: 175px;
            p{
                width: 125px;
            }
            .icon-svg{
                width: 50px;
            }
        }

        @keyframes out{
            from{transform:translateX(130px);}
            to{transform:translateX(0px);}
        }
        @keyframes in{
            from {transform: translateX(0px);}
            to {transform: translateX(130px);}
        }
    }

}