* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 100% Helvetica, san-serif;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right bottom, from(#131352), to(black));
  background: linear-gradient(to bottom right, #131352, black);
  height: 100vh;
  display: block;
}

header {
  width: 100%;
  background-color: transparent;
  position: absolute;
}

header .logo-container {
  width: 100vw;
}

header .logo-container img {
  width: 20%;
  max-width: 160px;
  padding: 0.1em;
}

header .burger div {
  display: block;
  width: 5vw;
  max-width: 50px;
  min-width: 25px;
  height: 4px;
  background-color: #d8d8d8;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .burger {
  padding: 1em;
  padding-right: .5em;
  position: fixed;
  z-index: 110;
}

header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .menu-container .burger-logo-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-container .nav {
  position: absolute;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 75vw;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  opacity: 0.9;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header .menu-container ul li {
  opacity: 0;
  list-style: none;
  padding: 10vh 0 10vh 0;
}

header .menu-container ul li a:hover {
  font-weight: bold;
  font-size: #fffebb;
}

header .menu-container ul a {
  color: #d8d8d8;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1em;
}

header .menu-container .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

header .toggle .line2 {
  opacity: 0;
}

header .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body-container .name-container {
  height: 70vh;
  margin-top: 10vh;
  position: relative;
}

.body-container .name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.body-container .name p {
  color: #d8d8d8;
}

.body-container .name .cls-1 {
  stroke: #dd0000;
  stroke-linejoin: round;
  stroke-width: 13px;
  fill-rule: evenodd;
}

.body-container .name #name-svg {
  fill: #fff;
  fill-opacity: 0;
}

.body-container .name .top-sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-container .name #name-sentence-1, .body-container .name #name-sentence-2 {
  font-size: 9vw;
}

.body-container .name #name-sentence-2 {
  margin-left: 4vw;
}

.body-container .name .rotate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body-container .name .rotate-text {
  overflow-y: hidden;
  position: relative;
  height: 4.8vw;
}

.body-container .name .rotate-text ul {
  margin: 0;
  position: relative;
  list-style-type: none;
  height: auto;
  width: auto;
  text-align: left;
  color: #e0b25c;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0.5vw);
            transform: translateY(0.5vw);
  }
  5% {
    -webkit-transform: translateY(-0.5vw);
            transform: translateY(-0.5vw);
  }
  10%, 25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(-5.1vw);
            transform: translateY(-5.1vw);
  }
  35%, 60% {
    -webkit-transform: translateY(-4.8vw);
            transform: translateY(-4.8vw);
  }
  65% {
    -webkit-transform: translateY(-10.1vw);
            transform: translateY(-10.1vw);
  }
  70%, 95% {
    -webkit-transform: translateY(-9.6vw);
            transform: translateY(-9.6vw);
  }
  100% {
    -webkit-transform: translateY(-13.8vw);
            transform: translateY(-13.8vw);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0.5vw);
            transform: translateY(0.5vw);
  }
  5% {
    -webkit-transform: translateY(-0.5vw);
            transform: translateY(-0.5vw);
  }
  10%, 25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(-5.1vw);
            transform: translateY(-5.1vw);
  }
  35%, 60% {
    -webkit-transform: translateY(-4.8vw);
            transform: translateY(-4.8vw);
  }
  65% {
    -webkit-transform: translateY(-10.1vw);
            transform: translateY(-10.1vw);
  }
  70%, 95% {
    -webkit-transform: translateY(-9.6vw);
            transform: translateY(-9.6vw);
  }
  100% {
    -webkit-transform: translateY(-13.8vw);
            transform: translateY(-13.8vw);
  }
}

.body-container .name #name-svg {
  margin: 0 0 0 4vw;
  width: 69vw;
}

.body-container .name #name-sentence-3 {
  font-size: 4vw;
  margin: 0 0 5vw 0;
  color: #d8d8d8;
}

.body-container .name button {
  font-size: 5vw;
  background-color: black;
  border: solid #d8d8d8 2px;
  width: 40vw;
  margin-top: 5vw;
}

.body-container .name button:hover {
  background-color: #1e1e1e;
  cursor: pointer;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill-opacity: 0;
  }
  to {
    fill: #dd0000;
    fill-opacity: 1;
  }
}

@keyframes fill {
  from {
    fill-opacity: 0;
  }
  to {
    fill: #dd0000;
    fill-opacity: 1;
  }
}

.icons {
  position: absolute;
  bottom: 10%;
  left: 0;
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons button {
  border: 1px solid orange;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-animation-name: out;
          animation-name: out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.icons button:hover {
  cursor: pointer;
  -webkit-animation-name: in;
          animation-name: in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes out {
  from {
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes out {
  from {
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes in {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

@keyframes in {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

.icons .button-container {
  position: relative;
  width: 140px;
}

.icons .button-container p {
  color: #d8d8d8;
  margin-left: 5px;
  width: 100px;
  left: 0;
}

.icons .button-container svg {
  right: 0;
}

.icons .icon-svg {
  stroke: white;
  fill-opacity: 0;
  stroke-linejoin: round;
  fill-rule: evenodd;
  width: 40px;
}

.icons button:hover > .icon-svg {
  stroke-dasharray: 10;
  stroke-dashoffset: 100;
  -webkit-animation: move 4s linear infinite;
          animation: move 4s linear infinite;
  stroke: red;
}

@-webkit-keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

.cls-2 {
  stroke-width: 28px;
}

.cls-3 {
  stroke-width: 12px;
}

.cls-4 {
  stroke-width: 18px;
}

@media screen and (max-height: 450px) {
  header .logo-container img {
    width: 20%;
    max-width: 100px;
    padding: 0.1em;
    margin: 5px;
  }
  .body-container .name-container {
    margin-top: 15vh;
    height: 60vh;
  }
  .body-container .name-container .name #name-sentence-1, .body-container .name-container .name #name-sentence-2 {
    font-size: 10vh;
  }
  .body-container .name-container .name #name-sentence-2 {
    margin-left: 4vh;
  }
  .body-container .name-container .name #name-svg {
    width: 70vh;
    margin-left: 4vh;
  }
  .body-container .name-container .name #name-sentence-3 {
    font-size: 4vh;
  }
  .body-container .name-container .name button {
    font-size: 5vh;
    width: 40vh;
    margin-top: 0;
  }
  .body-container .name-container .name .rotate-text {
    height: 5vh;
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateY(0.5vh);
              transform: translateY(0.5vh);
    }
    5% {
      -webkit-transform: translateY(-0.5vh);
              transform: translateY(-0.5vh);
    }
    10%, 25% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    30% {
      -webkit-transform: translateY(-5.1vh);
              transform: translateY(-5.1vh);
    }
    35%, 60% {
      -webkit-transform: translateY(-4.6vh);
              transform: translateY(-4.6vh);
    }
    65% {
      -webkit-transform: translateY(-10.1vh);
              transform: translateY(-10.1vh);
    }
    70%, 95% {
      -webkit-transform: translateY(-9.2vh);
              transform: translateY(-9.2vh);
    }
    100% {
      -webkit-transform: translateY(-13.8vh);
              transform: translateY(-13.8vh);
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateY(0.5vh);
              transform: translateY(0.5vh);
    }
    5% {
      -webkit-transform: translateY(-0.5vh);
              transform: translateY(-0.5vh);
    }
    10%, 25% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    30% {
      -webkit-transform: translateY(-5.1vh);
              transform: translateY(-5.1vh);
    }
    35%, 60% {
      -webkit-transform: translateY(-4.6vh);
              transform: translateY(-4.6vh);
    }
    65% {
      -webkit-transform: translateY(-10.1vh);
              transform: translateY(-10.1vh);
    }
    70%, 95% {
      -webkit-transform: translateY(-9.2vh);
              transform: translateY(-9.2vh);
    }
    100% {
      -webkit-transform: translateY(-13.8vh);
              transform: translateY(-13.8vh);
    }
  }
  .body-container .icons {
    top: -50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .body-container .icons .icon-svg {
    width: 15vh;
  }
}
/*# sourceMappingURL=mobile.css.map */