$font-type: Helvetica, san-serif;
$font-color: #d8d8d8;
$font-active: #fffebb;
$background-color: #161616;
$logo-color: white;
$menu-background-color: black;
$font-size: 1em;
$name-color: #ebe489;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100% $font-type;
    overflow-x:hidden;
    background-color: $background-color;
    height:100%;
    display: block;
}

// top navigation bar 
header {
    width: 100%;
    background-color: transparent;
    position: absolute;

// Logo styling     
    .logo-container{
        width: 100vw;
        img{
            width: 20%;
            max-width: 160px;
            padding: 0.1em;
        }
    }
// Hamburger menu styling 
    .burger div{
        display: block;
        width: 5vw;
        max-width: 50px;
        min-width: 25px;
        height: 4px;
        background-color: $font-color;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .burger{
        padding: 1em;
        padding-right: .5em;
        position: fixed;
        z-index: 110;
    }
// menu styling and animations
    .menu-container{
        display:flex;
        flex-direction:row;
        .burger-logo-container{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .nav{
            position: absolute;
            z-index: 100;
            position: fixed;
            display:flex;
            height:100vh;
            width: 75vw;
            top: 0;
            right: 0;
            align-items:center;
            justify-content: center;
            flex-direction: column;
            background-color: $menu-background-color;
            opacity: 0.8;
            transform: translateX(100%);
            transition: transform 0.5s ease-in; 
        }
        ul{
            li{
                opacity: 0;
                a:hover{
                    font-weight:bold;
                    font-size: $font-active;
                }
                list-style: none;
                padding: 10vh 0 10vh 0;
                }
                a{
                    color: $font-color;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-size: $font-size;
            }
        }
        .nav-active{
            transform: translateX(0%)
        }

        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }

            to{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
        background-color: white;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
        background-color: white;
    }
}

.body-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .name-container{
        height: 70vh;
        margin-top: 10vh;
        position: relative;
    }
    .name{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        p{
            color: $font-color;
        }
        .cls-1 {
            stroke: #ebe489;
            stroke-linejoin: round;
            stroke-width: 13px;
            fill-rule: evenodd;
          }
        #name-svg{
            fill: #fff;
            fill-opacity: 0;
        }
        .top-sentence{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        #name-sentence-1, #name-sentence-2{
            font-size: 9vw;
        }
        #name-sentence-2{
            margin-left: 4vw;
        }
        
        #name-svg{
            margin:0 0 0 4vw;
            width: 69vw;
        }
        #name-sentence-3{
            font-size: 4vw;
            margin: 0 0 5vw 0;
        }
        button{
            font-size: 5vw;
            background-color: black;
            border: solid $font-color 2px;
            width: 40vw;
            margin-top: 5vw;
        }
        button:hover{
            background-color:rgb(30, 30, 30);
        }
    }
    @keyframes line-anim {
        to{
            stroke-dashoffset: 0;
        }
    }
    @keyframes fill {
        from {
            fill-opacity: 0;
        }
        to {
            fill: #ebe489;
            fill-opacity: 1;
        }
    }



    .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        p{
            color: $font-color;
        }
        .icon-svg{
            width: 15vw;
            stroke: white;
            fill-opacity: 0;
            stroke-linejoin: round;
            fill-rule: evenodd;
        }
        .icon-svg:hover{
            stroke-dasharray: 10; 
            stroke-dashoffset: 100;
            animation: move 2s linear infinite; 
            stroke: $name-color
        }

        @keyframes move{
            100% {
                stroke-dashoffset: 0;
            }
        }

    }

    .cls-2{
        stroke-width: 28px;
    }
    .cls-3{
        stroke-width: 12px;
    }
    .cls-4{
        stroke-width: 18px;
    }

}

@media screen and (max-height: 450px){
    header{
        .logo-container{
            img{
                width: 20%;
                max-width: 100px;
                padding: 0.1em;
                margin: 5px;
            }
        }
    }
    .body-container{
        .name-container{
            margin-top: 15vh;
            height: 60vh;
            .name{
                #name-sentence-1, #name-sentence-2{
                    font-size: 10vh;
                }
                #name-sentence-2{
                    margin-left: 4vh;
                }
                #name-svg{
                    width: 70vh;
                    margin-left: 4vh;
                }
                #name-sentence-3{
                    font-size: 4vh;
                }
                button{
                    font-size: 5vh;
                    width: 40vh;
                    margin-top: 0;
                }
            }
        }
        .icons{
            .icon-svg{
                width: 15vh;
            }
        }
    }

}