* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 100% Helvetica, san-serif;
  overflow-x: hidden;
  background-color: #161616;
  height: 100%;
  display: block;
}

header {
  width: 100%;
  background-color: transparent;
  position: absolute;
}

header .logo-container {
  width: 100vw;
}

header .logo-container img {
  width: 20%;
  max-width: 160px;
  padding: 0.1em;
}

header .burger div {
  display: block;
  width: 5vw;
  max-width: 50px;
  min-width: 25px;
  height: 4px;
  background-color: #d8d8d8;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .burger {
  padding: 1em;
  padding-right: .5em;
  position: fixed;
  z-index: 110;
}

header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .menu-container .burger-logo-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-container .nav {
  position: absolute;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 75vw;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  opacity: 0.8;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header .menu-container ul li {
  opacity: 0;
  list-style: none;
  padding: 10vh 0 10vh 0;
}

header .menu-container ul li a:hover {
  font-weight: bold;
  font-size: #fffebb;
}

header .menu-container ul a {
  color: #d8d8d8;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1em;
}

header .menu-container .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

header .toggle .line2 {
  opacity: 0;
}

header .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body-container .name-container {
  height: 70vh;
  margin-top: 10vh;
  position: relative;
}

.body-container .name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.body-container .name p {
  color: #d8d8d8;
}

.body-container .name .cls-1 {
  stroke: #ebe489;
  stroke-linejoin: round;
  stroke-width: 13px;
  fill-rule: evenodd;
}

.body-container .name #name-svg {
  fill: #fff;
  fill-opacity: 0;
}

.body-container .name .top-sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-container .name #name-sentence-1, .body-container .name #name-sentence-2 {
  font-size: 9vw;
}

.body-container .name #name-sentence-2 {
  margin-left: 4vw;
}

.body-container .name #name-svg {
  margin: 0 0 0 4vw;
  width: 69vw;
}

.body-container .name #name-sentence-3 {
  font-size: 4.5vw;
  margin: 0 0 5vw 0;
}

.body-container .name button {
  font-size: 5vw;
  background-color: black;
  border: solid #d8d8d8 2px;
  width: 40vw;
  margin-top: 5vw;
}

.body-container .name button:hover {
  background-color: #1e1e1e;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill-opacity: 0;
  }
  to {
    fill: #ebe489;
    fill-opacity: 1;
  }
}

@keyframes fill {
  from {
    fill-opacity: 0;
  }
  to {
    fill: #ebe489;
    fill-opacity: 1;
  }
}

.body-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-container .icons p {
  color: #d8d8d8;
}

.body-container .icons .icon-svg {
  width: 15vw;
  fill: white;
  stroke: white;
}

.body-container .icons .icon-svg:hover {
  stroke-dasharray: 10;
  stroke-dashoffset: 100;
  -webkit-animation: move 2s linear infinite;
          animation: move 2s linear infinite;
  stroke: #ebe489;
}

@-webkit-keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

.body-container .cls-2 {
  fill-opacity: 0;
  stroke-linejoin: round;
  stroke-width: 28px;
  fill-rule: evenodd;
}

.body-container .cls-3 {
  fill-opacity: 0;
  stroke: white;
  stroke-linejoin: round;
  stroke-width: 12px;
  fill-rule: evenodd;
}

.body-container .cls-4 {
  fill-opacity: 0;
  stroke: white;
  stroke-linejoin: round;
  stroke-width: 18px;
  fill-rule: evenodd;
}
/*# sourceMappingURL=mobile.css.map */